.appointment {
    margin-top: 133px;
    padding: 91px 0;
    background: linear-gradient(180deg, #5D9388 0%, #42766C 100%);
    border-radius: 14px;
    position: relative;
    .appointment_descr {
        max-width: 517px;
        h2 {
            text-align: left;
            color: #FFFFFF;
        }
        .services_descr {
            color: #FFFFFF;
            margin-top: 24px;
            text-align: left;
        }
        button {
            margin-top: 14px;
            margin-left: 0;
        }
    }

}