.friend {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    min-height: 522px;
    h1 {
        max-width: 418px;
        margin-top: 119px;
        font-weight: 700;
        font-size: 52px;
        line-height: 64px;
        letter-spacing: -0.01em;
        color: #333333;
    }
    .friend_descr {
        max-width: 454px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.011em;
        color: #828282;
    }
    button {
        margin-top: 24px;
        margin-left: 0;
    }
}