.menu {
    font-family: 'Poppins';
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 104px;
    .logo {
        display: flex;
        img {
            height: 34px;
            width: 34px;
        }
        .logo_name {
        margin-left: 10px;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #42766C;
        }
    }
    nav {
        margin-left: 256px;
        display: flex;
        ul {
            display: flex;
            align-items: center;
            a {
                margin-left: 40px;
                text-decoration: none;
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #5A5A5A;
            }
        }
    }
}